<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
</head>
<body>
<h1>Connexion</h1>

<div th:if="${param.error}">
    <p style="color:red">Identifiants incorrects !</p>
</div>

<div th:if="${param.logout}">
    <p style="color:green">Déconnexion réussie !</p>
</div>

<form th:action="@{/login}" method="post">
    <label>Nom d'utilisateur :
        <input type="text" name="username" />
    </label>
    <br/>
    <label>Mot de passe :
        <input type="password" name="password" />
    </label>
    <br/>
    <button type="submit">Se connecter</button>
</form>

<a href="/register">Pas encore de compte ? S'inscrire</a>
</body>
</html>